In [29]:
from statsmodels.regression.rolling import RollingOLS

import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
# import pandas_ta
import warnings
warnings.filterwarnings('ignore')

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol'].unique().tolist()

end_date = dt.date.today() - dt.timedelta(1) # yesterday
start_date = pd.to_datetime(end_date) - pd.DateOffset(365 * 8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']
df.columns = df.columns.str.lower()

[*********************100%%**********************]  503 of 503 completed

In [28]:
df

                    adj close       close        high         low        open  \
date       ticker
2015-10-30 A        35.351646   37.759998   38.099998   37.680000   37.720001
           AAL      44.074890   46.220001   46.770000   45.709999   45.770000
           AAPL     27.117744   29.875000   30.305000   29.862499   30.247499
           ABBV     42.151260   59.549999   60.730000   57.660000   57.869999
           ABT      38.566086   44.799999   45.340000   44.759998   45.189999
...                       ...         ...         ...         ...         ...
2023-10-27 YUM     119.440002  119.440002  120.250000  118.279999  119.040001
           ZBH     103.190002  103.190002  104.809998  102.709999  104.000000
           ZBRA    207.179993  207.179993  207.559998  201.160004  204.600006
           ZION     29.450001   29.450001   30.670000   28.980000   30.590000
           ZTS     156.029999  156.029999  157.929993  155.160004  157.929993

                        volume
date       ticker
2015-10-30 A         2194600.0
           AAL       8589700.0
           AAPL    197461200.0
           ABBV     27465600.0
           ABT       8442300.0
...                        ...
2023-10-27 YUM       2330978.0
           ZBH       1534500.0
           ZBRA       565000.0
           ZION      2498300.0
           ZTS       2407100.0

[994471 rows x 6 columns]